{% extends 'zines/base.html' %}

{% block title %}
    dashboard
{% endblock %}

{% block classes %}dashboard editor{% endblock %}

{% block body %}
    <h1>dashboard</h1>
    <p>
        {% if stats %}
            {% for stat in stats %}
                {{ stat.0 }}: {{ stat.1 }}<br/>
            {% endfor %}
        {% endif %}
    </p>
    <p>
        {% if user_stats %}
            {% for stat in user_stats %}
                {{ stat.0 }}: {{ stat.1 }}<br/>
            {% endfor %}
        {% endif %}
    </p>
{% endblock %}