{% extends 'zines/base.html' %}

{% block title %}
    dashboard
{% endblock %}

{% block classes %}dashboard editor{% endblock %}

{% block body %}
    <h1>dashboard</h1>
    <div class="row">
        {% if stats %}
            {% for stat in stats %}
                <p>{{ stat.0 }}: {{ stat.1 }}</p>
            {% endfor %}
        {% endif %}
    </div>
    <div class="row">
        {% if user_stats %}
            {% for stat in user_stats %}
                <p>{{ stat.0 }}: {{ stat.1 }}</p>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}