{% extends 'zines/base.html' %}

{% block title %}
    {{ issue }} :: Edit
{% endblock %}

{% block editor %}
    {% if issue.published %}
        <a id="unpublish">
            <i class="material-icons md-48">file_download</i>
            <div class="label">Unpublish</div>
        </a>
    {% else %}
        <a id="publish">
            <i class="material-icons md-48">publish</i>
            <div class="label">Publish</div>
        </a>
    {% endif %}
    <a id="alt_submit">
        <i class="material-icons md-48">save</i>
        <div class="label">Save &amp; exit</div>
    </a>
    {% if issue.id %}
        <a href="{% url 'issue' issue.zine.id issue.number %}">
            <i class="material-icons md-48">close</i>
            <div class="label">Close without saving</div>
        </a>
    {% else %}
        <a href="{% url 'index' %}">
            <i class="material-icons md-48">close</i>
            <div class="label">Close without saving</div>
        </a>
    {% endif %}
{% endblock %}

{% block classes %}editor{% endblock %}

{% block body %}
    <form enctype="multipart/form-data" id="edit-issue" name="editIssue" method="POST">
        {% for field in form.visible_fields %}
            <div id="{{ field.id_for_label }}">
                <p class="error">
                    {{ field.errors }}
                </p>
                {% if field.id_for_label == "id_cover" and field.value %}
                    <img class="preview" src="{{ field.value.url }}"/>
                {% endif %}
                {{ field.label_tag }}
                {{ field }}
            </div>
        {% endfor %}
        <label>Desc:</label>
        <div id="quill">
            {{ issue.desc|safe }}
        </div>
        {{ form.desc }}
        {{ form.published }}
        {% csrf_token %}
    </form>
{% endblock %}

{% block scripts %}
    <script>
        function publish() {
            updateQuillHiddenInput('id_desc');
            $('#edit-issue').submit();
        }
        $(document).ready(function() {
            initQuill();
            // cover image
            $('img.preview').click(function() {
                $('#id_cover').click();
            });
            $('#id_cover').change(function() {
                $('.refresh').html('Save to view');
            });

            // update hidden input before submitting
            $('#alt_submit').click(function(e) {
                e.preventDefault();
                publish();
            });
        });
    </script>
{% endblock %}