$orange: #FA4866;

body {
    margin: auto;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    background: #fff;
    color: #333;
}
body.editor {
    background: #333;
    color: #fff;
    a:hover {
        color: #fff;
    }
    input, select {
        background: transparent;
        box-shadow: none;
        color: inherit;
        &:focus {
            background: #444;
        }
    }
}
label {
    display: block;
}
input {
    &.heading {
        font-size: 2rem !important;
        height: auto;
        font-weight: bold !important;
    }
}
input, select {
    font-size: 17px !important;
    font-weight: 100 !important;
}
a {
    color: $orange;
    &:hover {
        color: #333;
    }
}
i {
    position: relative;
    bottom: -.2em;
}
h1 {
    margin-bottom: .25em;
    display: inline-block;
}
date {
    display: block;
    margin: .5em 0;
    opacity: .6;
    font-weight: 100;
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-30 { font-size: 30px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-40 { font-size: 40px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-60 { font-size: 60px; }

.clearfix {
    clear: both;
}
hr {
    clear: both;
}
ul.inline {
    display: inline-block;
    padding: 0;
    list-style-type: none;
    li {
        margin-left: 1rem;
        display: inline-block;
    }
}
#editor {
    position: fixed;
    top: 20%;
    left: 0;
    padding: 0 0 .75rem .5rem;
    border-radius: 0 .5rem .5rem 0;
    background: #333;
    a:hover {
        color: #fff;
    }
}
body.editor {
    #editor {
        background: #fff;
        color: #333;
        a:hover {
            color: #333;
        }
    }
}
#header {
    ul {
        font-size: 1.2rem;
        margin-left: 1em;
        padding: 0;
        color: #333;
        font-weight: 100;
        list-style-type: none;
        text-transform: uppercase;
        li {
            display: inline-block;
            a {
                opacity: .5;
                &:hover {
                    opacity: 1;
                    color: $orange;
                }
            }
        }
    }
}
#wrapper {
    width: 100%;
    max-width: 60rem;
    margin: auto;
}
#logo {
    font-size: 50px;
    font-weight: 100;
    display: inline-block;
    span {
        font-weight: 800;
        color: $orange;
    }
    i {
        position: relative;
        bottom: -7px;
        color: $orange;
    }
    a {
        color: inherit;
    }
}
.actions {
    float: right;
    margin-top: 1em;
    .edit {
        display: inline;
        background: #333;
        padding: 5px 0 5px 5px;
        border-radius: 5px;
    }
}
.info {
    display: inline-block;
    margin-left: .5em;
    a {
        color: #bbb;
        &:hover {
            color: $orange;
        }
    }
}
.desc {
    font-size: 1.2em;
    font-weight: 100;
    img {
        display: block;
        width: 100%;
        height: auto;
        width: auto;
    }
    .cover {
        padding: 0;
        margin: 0 1rem 1rem 0;
        background: #fafafa;
        font-size: 1.1em;
        p {
            margin: .5em 0;
            line-height: 1;
        }
    }
}
#works {
    padding: 0;
    list-style-type: none;
    margin: 0;
    width: 100%;
    border-collapse: collapse;
    tr {
        &:nth-child(2n) {
            background: #f7f7f7;
        }
        td {
            padding: 0 1em .6em 1em;
            &:first-child {
                padding: 1em;
                width: 100%;
            }
        }
    }
}
.authors {
    ul {
        li { 
            &:not(:last-child){
                &:after {
                    content: ',';
                    margin-left: -3px;
                    padding: 0;
                }
            }
        }
    } 
}
.block {
    margin: 1.5rem 0;
}
.issue {
    z-index: -1;
    background-color: #333;
    padding: 0;
    width: 100%;
    height: 200px;
    .bg {
        position: relative;
        top: 0;
        z-index: 0;
        width: 100%;
        opacity: .4;
        background-position: center;
        background-size: cover;
        height: 200px;
    }
    .title {
        position: relative;
        z-index: 3000;
        top: -200px;
        left: 0;
        color: #fff;
        padding: 2rem 0;
        width: 100%;
        margin: auto;
        text-align: center;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 35px;
        font-weight: 100;
        transition: .15s;
        a {
            color: inherit;
        }
        &:hover {
            background: rgba(255, 255, 255, .2);
        }
    }
}
.page {
    margin-bottom: 1rem;
}

// quill editor
.ql-toolbar * {
    color: #fff !important;
}
.ql-stroke {
    stroke: #fff !important;
}
.ql-fill {
    fill: #fff !important;
}
.ql-editor {
    padding: 0 !important;
    font-size: 1rem;
    font-weight: 100;
    p {
        margin: 1rem !important;
    }
}

div#id_end_date_month,
div#id_start_date_month {
    width: 49.5%;
    display: inline-block;
}
select#id_end_date_month,
select#id_end_date_day,
select#id_end_date_year,
select#id_start_date_month,
select#id_start_date_day,
select#id_start_date_year {
    width: 31%;
    display: inline-block;
}
div#id_authors,
div#id_show_author,
div#id_external,
div#id_submissions_open {
    display: inline-block;
    width: 24%;
    vertical-align: middle;
    padding-right: 1rem;
}
div#id_contact_email,
div#id_submission_email,
div#id_website {
    width: 33%;
    display: inline-block;
}
label[for=id_show_author],
label[for=id_external],
label[for=id_submissions_open] {
    display: inline;
    margin-right: 1rem;
}
body.home {
    .issue {
        height: 130px;
        .bg {
            height: 130px;
        }
        .title {
            height: 130px;
            top: -130px;
        }
    }
}
img.preview {
    width: 100px;
    height: auto;
    float: left;
    margin: 0 1rem 1rem 0;
}