body {
    margin: auto;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    background: #fff;
    color: #333;
}
body.editor {
    background: #333;
    color: #fff;
}
body.editor #editor {
    background: #fff;
    color: #333;
}
input, select {
    font-size: 17px !important;
    font-weight: 100 !important;
}
a {
    color: #FA4866;
}
a:hover {
    color: #333;
}
i {
    position: relative;
    bottom: -.2em;
}
ul.inline {
    display: inline-block;
    padding: 0;
    list-style-type: none;
}
ul.inline li {
    margin-left: 1rem;
    display: inline-block;
}
#editor {
    position: fixed;
    top: 20%;
    left: 0;
    padding: 0 0 .75rem .5rem;
    border-radius: 0 .5rem .5rem 0;
    background: #333;
}
.editor a:hover {
    color: #fff;
}
#editor a:hover {
    color: #fff;
}
.editor #editor a:hover {
    color: #333;
}
.editor input, .editor select {
    background: transparent;
    box-shadow: none;
    color: inherit;
}
.editor input:focus {
    background: #444;
}
#wrapper {
    width: 100%;
    max-width: 60rem;
    margin: auto;
}
#logo {
    font-size: 50px;
    font-weight: 100;
    display: inline-block;
}
#logo span {
    font-weight: 800;
    color: #FA4866;
}
#logo i {
    position: relative;
    bottom: -7px;
    color: #FA4866;
}
#logo a {
    color: inherit;
}
#header ul {
    font-size: 1.2rem;
    margin-left: 1em;
    padding: 0;
    color: #333;
    font-weight: 100;
    list-style-type: none;
    text-transform: uppercase;
}
#header li {
    display: inline-block;
}
#header li a {
    opacity: .5;
}
#header li a:hover {
    opacity: 1;
    color: #FA4866;
}
h1 {
    margin-bottom: .25em;
    display: inline-block;
}
date {
    display: block;
    margin: .5em 0;
    opacity: .6;
    font-weight: 100;
}
td date {
    display: inline-block;
    margin-left: 1em;
}
.actions {
    float: right;
    margin-top: 1em;
}
.actions .edit {
    display: inline;
    background: #333;
    padding: 5px 0 5px 5px;
    border-radius: 5px;
}
.info {
    display: inline-block;
    margin-left: .5em;
}
.desc {
    font-size: 1.2em;
    font-weight: 100;
}
.desc img {
    display: block;
    width: 100%;
    height: auto;
    width: auto;
}
.desc .cover {
    padding-left: 0;
    padding-bottom: 1.25em;
}
.info a {
    color: #bbb;
}
.info a:hover {
    color: #FA4866;
}
#works {
    padding: 0;
    list-style-type: none;
    margin: 0;
    width: 100%;
    border-collapse: collapse;
}
#works td {
    padding: 0 1em .6em 1em;
}
#works td:first-child {
    padding: 1em;
    width: 100%;
}
#works tr:nth-child(2n) {
    background: #f7f7f7;
}
.authors ul li:not(:last-child):after {
    content: ',';
    margin-left: -3px;
    padding: 0;
}
.block {
    margin: 1.5rem 0;
}
.issue {
    background-color: #333;
    padding: 0;
    width: 100%;
    height: 200px;
}
.issue .bg {
    position: absolute;
    width: 60rem;
    opacity: .4;
    background-position: center;
    background-size: cover;
    height: 200px;
}
.issue .title {
    position: relative;
    top: 0;
    left: 0;
    color: #fff;
    padding: 2rem 0;
    width: 100%;
    margin: auto;
    text-align: center;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: 100;
    transition: .15s;
}
.issue .title a {
    color: inherit;
}
.issue .title:hover {
    background: rgba(255, 255, 255, .2);
}
.page {
    margin-bottom: 1rem;
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-30 { font-size: 30px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-40 { font-size: 40px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-60 { font-size: 60px; }

.clearfix {
    clear: both;
}
hr {
    clear: both;
}

.ql-toolbar * {
    color: #fff !important;
}
.ql-stroke {
    stroke: #fff !important;
}
.ql-fill {
    fill: #fff !important;
}
.ql-editor {
    padding: 0 !important;
    font-size: 1rem;
    font-weight: 100;
}
.ql-editor p {
    margin: 1rem !important;
}

input.heading {
    font-size: 2rem !important;
    height: auto;
    font-weight: bold !important;
}
label {
    display: block !important;
}
#id_end_date_month,
#id_end_date_day,
#id_end_date_year,
#id_start_date_month,
#id_start_date_day,
#id_start_date_year {
    width: 33%;
    display: inline-block;
}