<!doctype html>
{% load static %}
<html>
    <head>
        <title>
            FileTile | {% block title %} {% endblock %}
        </title>

        <!-- foundation -->
        <link rel="stylesheet" href="{% static 'zines/foundation/css/foundation.css' %}"/>
        <!-- custom stylesheet -->
        <link rel="stylesheet" href="{% static 'zines/style.css' %}"/>

        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <!-- angularJS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>

        <!-- fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
        
        <!-- material icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- lightbox -->
        <link href="{% static 'zines/lightbox2-master/src/css/lightbox.css' %}" rel="stylesheet">
        <script src="{% static 'zines/lightbox2-master/src/js/lightbox.js' %}"></script>

        <!-- Main Quill library -->
        <script src="//cdn.quilljs.com/1.1.7/quill.js"></script>
        <script src="//cdn.quilljs.com/1.1.7/quill.min.js"></script>
        <link href="https://cdn.quilljs.com/1.1.7/quill.snow.css" rel="stylesheet">
    </head>
    <body class="{% block classes %}{% endblock %}">
        {% block editor %} {% endblock %}
        <div id="wrapper">
            <div id="header">
                <div id="logo">
                    <a href="/zines">
                        <i class="material-icons md-40">subtitles</i>end<span>zine </span>
                    </a>
                </div>
                <ul class="menu inline">
                    <li>
                        <a href="{% url 'index' %}">home</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'profile' user.profile.id %}">profile</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            {% block body %} {% endblock %}
        </div>

        <script>
            var quill = new Quill('#quill', {
                theme: 'snow'
            });
            function updateQuillHiddenInput(hiddenInputID) {
                $input = $('#'+hiddenInputID);
                $input.val($('#quill>div')[0].innerHTML);
            }
        </script>
        {% block scripts %} {% endblock %}
    </body>
</html>