<!doctype html>
{% load static %}
<html>
    <head>
        <title>
            tag&middot;a&middot;zine | {% block title %} {% endblock %}
        </title>

        <!-- foundation -->
        <link rel="stylesheet" href="{% static 'zines/foundation/css/foundation.css' %}"/>
        <!-- custom stylesheet -->
        {% load sass_tags %}
        <link rel="stylesheet" href="{% sass_src 'zines/style.scss' %}"/>

        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <!-- jQuery UI -->
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

        <!-- fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
        
        <!-- material icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- lightbox -->
        <link href="{% static 'zines/lightbox2-master/src/css/lightbox.css' %}" rel="stylesheet">
        <script src="{% static 'zines/lightbox2-master/src/js/lightbox.js' %}"></script>

        <!-- Main Quill library -->
        <script src="//cdn.quilljs.com/1.1.7/quill.js"></script>
        <script src="//cdn.quilljs.com/1.1.7/quill.min.js"></script>
        <link href="https://cdn.quilljs.com/1.1.7/quill.snow.css" rel="stylesheet">

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-TKGCZN9');</script>
        <!-- End Google Tag Manager -->

        <!-- embed GA dash -->
        <script>
            (function(w,d,s,g,js,fs){
                g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}};
                js=d.createElement(s);fs=d.getElementsByTagName(s)[0];
                js.src='https://apis.google.com/js/platform.js';
                fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};
            }(window,document,'script'));
        </script>

    </head>
    <body class="{% block classes %}{% endblock %}">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TKGCZN9"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <div id="editor">
            {% load app_filters %}

            {% if messages %}
                {% for message in messages %}
                    <span class="a">
                        <i class="{{ message.tags|lastWord }} material-icons md-48">{{ message.tags|lastWord }}</i>
                        <div class="label">{{ message }}</div>
                    </span>
                {% endfor %}
            {% endif %}

            {% if user.is_authenticated %}
                <a href="{% url 'new_zine' %}">
                    <i class="material-icons md-48">add</i>
                    <div class="label">Add new zine.</div>
                </a>
            {% endif %}
            
            {% block editor %}
            {% endblock %}
        </div>
        <div id="wrapper">
            <div id="header">
                <div id="logo">
                    <a href="/zines">
                        <i class="material-icons md-40">subtitles</i>taga<span>zine </span>
                    </a>
                </div>
                <ul class="menu inline">
                    <li>
                        <a href="{% url 'index' %}">home</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'profile' user.profile.id %}">profile</a>
                        </li>
                        {% if user.profile.hasUnPublishedContent %}
                            <li>
                                <a href="{% url 'drafts' %}">drafts</a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{% url 'logout_view' %}">Log Out</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login_view' %}">Log in</a>
                        </li>
                    {% endif %}
                    <li>
                        <a>
                            <form id="search" method="GET" action="{% url 'search' %}">
                                <i class="material-icons md-36">search</i>
                                <input type="text" name="term" placeholder="Go for it." />
                            </form>
                        </a>
                    </li>
                </ul>
            </div>
            {% block body %} {% endblock %}
        </div>

        <script src="{% static 'zines/js/tagazine.js' %}"></script>
        {% block scripts %} {% endblock %}
        <script src="{% static 'zines/js/custom.js' %}"></script>
    </body>
</html>