<!doctype html>
{% load static %}
<html>
    <head>
        <title>
            tag&middot;a&middot;zine | {% block title %} {% endblock %}
        </title>

        <!-- foundation -->
        <link rel="stylesheet" href="{% static 'zines/foundation/css/foundation.css' %}"/>
        <!-- custom stylesheet -->
        {% load sass_tags %}
        <link rel="stylesheet" href="{% sass_src 'zines/style.scss' %}"/>

        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <!-- angularJS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>

        <!-- fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
        
        <!-- material icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- lightbox -->
        <link href="{% static 'zines/lightbox2-master/src/css/lightbox.css' %}" rel="stylesheet">
        <script src="{% static 'zines/lightbox2-master/src/js/lightbox.js' %}"></script>

        <!-- Main Quill library -->
        <script src="//cdn.quilljs.com/1.1.7/quill.js"></script>
        <script src="//cdn.quilljs.com/1.1.7/quill.min.js"></script>
        <link href="https://cdn.quilljs.com/1.1.7/quill.snow.css" rel="stylesheet">
    </head>
    <body class="{% block classes %}{% endblock %}">
        <div id="editor">
            {% block editor %}
            {% endblock %}
        </div>
        <div id="wrapper">
            <div id="header">
                <div id="logo">
                    <a href="/zines">
                        <i class="material-icons md-40">subtitles</i>taga<span>zine </span>
                    </a>
                </div>
                <ul class="menu inline">
                    <li>
                        <a href="{% url 'index' %}">home</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'profile' user.profile.id %}">profile</a>
                        </li>
                        {% if user.profile.hasUnPublishedContent %}
                            <li>
                                <a href="">drafts</a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
            {% block body %} {% endblock %}
        </div>

        <script>
            function initQuill() {
                var quill = new Quill('#quill', {
                    theme: 'snow'
                });
                $('.ql-editor').focus(function() {
                    console.log('focus');
                    $('.ql-toolbar').addClass('active');
                    $('.ql-container').addClass('active');
                });
                $('.ql-editor').blur(function() {
                    console.log('focus');
                    $('.ql-toolbar').removeClass('active');
                    $('.ql-container').removeClass('active');
                });
            }
            function updateQuillHiddenInput(hiddenInputID) {
                $input = $('#'+hiddenInputID);
                $input.val($('#quill>div')[0].innerHTML);
            }
            $(document).ready(function() {
                console.log({{response}});
                $('div.label').removeClass('show');
                $('#editor').hover(function() {
                    $('div.label').addClass('show');
                }, function() {
                    $('div.label').removeClass('show');
                });
            });
        </script>
        {% block scripts %} {% endblock %}
    </body>
</html>