{% extends 'zines/base.html' %}

{% block title %}
    {{ profile }}'s drafts
{% endblock %}

{% block editor %}
    {% if user.is_authenticated and user.id == profile.user.id %}
        <a href="{% url 'edit_profile' profile.id %}">
            <i class="material-icons md-48">edit</i>
            <div class="label">Edit</div>
        </a>
    {% endif %}
{% endblock %}

{% block classes %}editor{% endblock %}

{% block body %}
    {% load static %}
    <h1>{{ profile }}'s Drafts</h1>
    <hr/>
    {% if zines %}
        <div class="zines">
            <h3>zine drafts</h3>
            {% for zine in zines %}
                {% include 'zines/snippets/banner.html' with entity=zine type='zine' %}
            {% endfor %}
        </div>
    {% endif %}
    {% if issues %}
        <div class="block">
            <h3>issue drafts</h3>
            {% for issue in issues %}
                {% include 'zines/snippets/banner.html' with entity=issue type='issue' %}
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}