{% extends 'zines/base.html' %}

{% block title %}
    {{ issue }} :: Edit
{% endblock %}

{% block editor %}
    {% if issue.published %}
        <a id="unpublish">
            <i class="material-icons md-48">file_download</i>
            <div class="label">Unpublish</div>
        </a>
    {% else %}
        <a id="publish">
            <i class="material-icons md-48">publish</i>
            <div class="label">Publish</div>
        </a>
    {% endif %}
    <a id="alt_submit">
        <i class="material-icons md-48">save</i>
        <div class="label">Save &amp; exit</div>
    </a>
    <a href="{% url 'issue' issue.zine.id issue.number %}">
        <i class="material-icons md-48">close</i>
        <div class="label">Close without saving</div>
    </a>
{% endblock %}

{% block classes %}editor{% endblock %}

{% block body %}
    <form id="edit-issue" name="editIssue" method="POST">
        <div class="row">
            <div class="large-12 medium-12 small-12 columns">
                <label>{{ issue }}</label> {{ form.title }}
            </div>
        </div>

        <div class="row">
            <div class="large-4 medium-6 small-12 columns">
                <img class="preview" src="{{ form.cover.value.url }}"/>
                <div class="refresh"></div>
                <div class="hide">
                    {{ form.cover }}
                </div>
            </div>
            <div class="large-8 medium-6 small-12 columns">
                <div class="row">
                    <div class="large-6 medium-6 small-12 columns">
                        {{ form.guest_authors.label_tag}} {{ form.guest_authors }}
                    </div>
                    <div class="large-6 medium-6 small-12 columns">
                        {{ form.pub_date.label_tag}} {{ form.pub_date }}
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 medium-12 small-12 columns">
                        {{ form.ext_guest_authors.label_tag}} {{ form.ext_guest_authors }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <label>Desc:</label>
            <div id="quill">
                {{ issue.desc|safe }}
            </div>
            {{ form.desc }}
            {{ form.published }}
            {% csrf_token %}
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            initQuill();
            // cover image
            $('img.preview').click(function() {
                $('#id_cover').click();
            });
            $('#id_cover').change(function() {
                $('.refresh').html('Save to view');
            });

            // update hidden input before submitting
            $('#alt_submit').click(function(e) {
                e.preventDefault();
                updateQuillHiddenInput('id_desc');
                $('#edit-issue').submit();
            });
            // update publish value before submitting
            $('#publish').click(function(e) {
                e.preventDefault();
                updateQuillHiddenInput('id_desc');
                $('#id_published').val("True");
                $('#edit-issue').submit();
            });
            $('#unpublish').click(function(e) {
                e.preventDefault();
                updateQuillHiddenInput('id_desc');
                $('#id_published').val("False");
                $('#edit-issue').submit();
            });
        });
    </script>
{% endblock %}