{% extends 'zines/base.html' %}

{% block title %}
    {{ zine }} :: Edit
{% endblock %}

{% block editor %}
    {% if zine.published %}
        <a id="unpublish">
            <i class="material-icons md-48">file_download</i>
            <div class="label">Unpublish</div>
        </a>
    {% else %}
        <a id="publish">
            <i class="material-icons md-48">publish</i>
            <div class="label">Publish</div>
        </a>
    {% endif %}
    <a id="alt_submit">
        <i class="material-icons md-48">save</i>
        <div class="label">Save &amp; exit</div>
    </a>
    <a href="{% url 'zine' zine.id %}">
        <i class="material-icons md-48">close</i>
        <div class="label">Close without saving</div>
    </a>
{% endblock %}

{% block classes %}editor{% endblock %}

{% block body %}
    <form enctype="multipart/form-data" id="edit-zine" name="editZine" method="POST">
        <div class="row">
            <div class="large-4 medium-6 small-12 columns">
                {{ form.title }}
            </div>
            <div class="large-8 medium-6 small-12 columns">
                {{ form.tagline }}
            </div>
        </div>

        <div class="row">
            <div class="large-8 medium-6 small-12 columns">
                {{ form.authors }}
            </div>
            <div class="large-4 medium-6 small-12 columns">
                {{ form.show_author }} {{ form.show_author.label }}<br/>
                {{ form.external }} {{ form.external.label }}<br/>
                {{ form.submissions_open }} {{ form.submissions_open.label }}
            </div>
        </div>

        <div class="row">
            <div class="large-4 medium-6 small-12 columns">
                <img class="preview" src="{{ form.cover.value.url }}"/>
                <div class="refresh"></div>
                <div class="hide">
                    {{ form.cover }}
                </div>
            </div>
            <div class="large-4 medium-6 small-12 columns">
                {{ form.locale.label_tag }} {{ form.locale }}
                {{ form.start_date.label_tag }} {{ form.start_date }}
                {{ form.end_date.label_tag }} {{ form.end_date }}
            </div>
            <div class="large-4 medium-6 small-12 columns">
                {{ form.contact_email.label_tag }} {{ form.contact_email }}
                {{ form.submission_email.label_tag }} {{ form.submission_email }}
                {{ form.website.label_tag }} {{ form.website }}
            </div>
        </div>
        <div class="row">
            <label>Desc:</label>
            <div id="quill">
                {{ zine.desc|safe }}
            </div>
            {{ form.desc }}
            {{ form.published }}
            {% csrf_token %}
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            initQuill();
            // cover image
            $('img.preview').click(function() {
                $('#id_cover').click();
            });
            $('#id_cover').change(function() {
                $('.refresh').html('Save to view');
            });

            // update hidden input before submitting
            $('#alt_submit').click(function(e) {
                e.preventDefault();
                updateQuillHiddenInput('id_desc');
                $('#edit-zine').submit();
            });
            // update publish value before submitting
            $('#publish').click(function(e) {
                e.preventDefault();
                updateQuillHiddenInput('id_desc');
                $('#id_published').val("True");
                $('#edit-zine').submit();
            });
            $('#unpublish').click(function(e) {
                e.preventDefault();
                updateQuillHiddenInput('id_desc');
                $('#id_published').val("False");
                $('#edit-zine').submit();
            });
        });
    </script>
{% endblock %}