{% extends 'zines/base.html' %}

{% block title %}
    {{ zine }} :: Edit
{% endblock %}

{% block editor %}
    <div id="editor">
        {% for authorship in authorships %}
            {% if authorship.user_profile == user.profile %}
                <a href="{% url 'zine' zine.id %}">
                    <i class="material-icons md-48">close</i>
                </a>
                &nbsp;
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block classes %}editor{% endblock %}

{% block body %}
    <form id="edit-zine" name="editZine" method="POST">
        {% for field in form.visible_fields %}
            <div id="{{ field.id_for_label }}">
                <p class="error">
                    {{ field.errors }}
                </p>
                {% if field.id_for_label == "id_cover" %}
                    <img class="preview" src="{{ field.value.url }}"/>
                {% endif %}
                {{ field.label_tag }}
                {{ field }}
            </div>
        {% endfor %}
        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}
        <label>Desc:</label>
        <div id="quill">
            {{ zine.desc|safe }}
        </div>
        {% csrf_token %}
        <input type="submit" value="Submit">
    </form>
{% endblock %}

{% block scripts %}
    <script>
        $('input[type=submit').on('mouseenter focusin', function() {
            updateQuillHiddenInput('id_desc');
        });
    </script>
{% endblock %}