{% extends 'zines/base.html' %}

{% block title %}
    welcome
{% endblock %}

{% block body %}
    <h1>welcome</h1>
    <hr/>
    {% if recent_issues %}
        <h3>Recent Issues</h3>
        {% for issue in recent_issues %}
            <div class="issue">
                <div class="bg" style="background-image: url({% if issue.cover != '' %}{{ issue.cover }}{% else %}{{ issue.zine.zine_pic }}{% endif %})">
                    &nbsp;
                </div>
                <a href="{% url 'issue' issue.zine.id issue.number %}">
                    <div class="title">
                        <span>{{ issue.displayTitle }}</span>
                    </div>
                </a>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}