{% extends 'zines/base.html' %}

{% block title %}
    welcome
{% endblock %}

{% block classes %}home{% endblock %}

{% block editor %}
    {% if user.is_authenticated %}
        <a href="{% url 'new_zine' %}">
            <i class="material-icons md-48">add</i>
            <div class="label">Add new zine.</div>
        </a>
    {% endif %}
{% endblock %}

{% block body %}
    <h1>welcome</h1>
    <div class="row">
        <div class="large-4 columns">
            <h3>Recently Updated Tags</h3>
            {% if recent_tags %}
                {% for tag in recent_tags %}
                    <a class="tag" href="{% url 'tag' tag.slug %}">{{ tag.title }}
                    </a>
                {% endfor %}
            {% else %}
                No tags have been updated.
            {% endif %}
        </div>
        <div class="large-8 columns recent-zines">
            <h3>Recently Updated Zines</h3>
            {% if recent_zines %}
                {% for zine in recent_zines %}
                    <div class="large-4 columns">
                        <a href="{% url 'zine' zine.id %}">
                            <div class="cover" style="background-image: url({{ zine.cover.url }});">
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                No zines have been updated.
            {% endif %}
        </div>
    </div>
    <hr class="spacer"/>
    <div class="row">
        <div class="large-8 medium-6 small-12 columns">
            <h3>Recent Issues</h3>
            {% if recent_issues %}
                {% for issue in recent_issues %}
                    {% include 'zines/snippets/banner.html' with entity=issue height="130px" type='issue' %}
                {% endfor %}
            {% else %}
                No issues have been published.
            {% endif %}
        </div>
        <div class="large-4 columns">
            <h3>New Users</h3>
            {% if new_users %}
                <ul>
                    {% for profile in new_users %}
                        <li>{{ profile.link|safe }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                There are no new users.
            {% endif %}
        </div>
    </div>
{% endblock %}