{% extends 'zines/base.html' %}

{% block title %}
    welcome
{% endblock %}

{% block body %}
    <h1>welcome</h1>
    <hr/>
    {% if recent_issues %}
        <h3>Recent Issues</h3>
        {% for issue in recent_issues %}
            <div class="issue">
                <div class="bg" style="background-image: url({% if issue.cover != '' %}{{ issue.cover.url }}{% else %}{{ issue.zine.zine_pic }}{% endif %})">
                    &nbsp;
                </div>
                <a href="{% url 'issue' issue.zine.id issue.number %}">
                    <div class="title">
                        <span>{{ issue.displayTitle }}</span>
                    </div>
                </a>
            </div>
        {% endfor %}
    {% endif %}
    {% if new_users %}
        <div class="large-4 columns">
            <h3>New Users</h3>
            <ul>
                {% for user in new_users %}
                    <li>{{ user.link|safe }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}