{% extends 'zines/base.html' %}

{% block title %}
    {{ issue }}
{% endblock %}

{% block editor %}
    {% for authorship in authorships %}
        {% if authorship.user_profile == user.profile %}
            <a href="{% url 'edit_issue' issue.zine.id issue.number %}">
                <i class="material-icons md-48">edit</i>
                <div class="label">Edit</div>
            </a>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block body %}
    {% load app_filters %}

    <h1>{{ issue.titleLink|safe }}</h1>
    <date>published {{ issue.pub_date|date:'b j, Y' }}</date>
    <div class="authors">
        <p>Authors: {{ issue.zine.authorsLink|safe }}</p>
        {% if issue.guestAuthorsLink|length > 0 or issue.ext_guest_authors|length > 0 %}
            Feat. {{ issue.guestAuthorsLink|safe }}{% if issue.guestAuthorsLink|length > 0 and issue.ext_guest_authors|length > 0 %}, {% endif %}
            {{ issue.ext_guest_authors }}
        {% endif %}
    </div>
    <div class="desc">
        {% if issue.cover != '' %}
            <div class="cover large-4 medium-6 small-12 columns">
                <img src="{{ issue.cover.url }}"/>
            </div>
        {% endif %}
        <p>{{ issue.desc|safe }}</p>
    </div>
    <hr/>
    {% if pages %}
        {% for page in pages %}
            <div class="page large-4 medium-6 small-12 columns">
                <a data-lightbox="pages" data-title="{{ page.subtitles|safe }}" href="{{ page.content.url }}">
                    <img src="{{ page.content.url }}"/>
                </a>
            </div>
        {% endfor %}
    {% else %}
        <p>This issue has no pages.</p> 
    {% endif %}
{% endblock %}