{% extends 'zines/base.html' %}

{% block title %}
    {{ zine }}
{% endblock %}

{% block body %}
    <h1>{{ issue.titleLink|safe }}</h1>
    <date>published {{ issue.pub_date|date:'b j, Y' }}</date>
    <div class="authors">
        <p>Authors: {{ issue.zine.authorsLink|safe }}</p>
        {% if issue.guest_authors %}
            Feat. {{ issue.guestAuthorsLink|safe }}
        {% endif %}
    </div>
    <div class="desc">
        {% if issue.cover != '' %}
            <div class="cover" style="background-image: url({{ issue.cover.url }})">
                &nbsp;
            </div>
        {% endif %}
        <p>{{ issue.desc }}</p>
    </div>
    <hr/>
    {% if pages %}
    {% else %}
        <p>This issue has no pages.</p> 
    {% endif %}
{% endblock %}