{% extends 'zines/base.html' %}

{% block title %}
    {{ issue }}
{% endblock %}

{% block editor %}
    {% if user.is_authenticated %}
        {% for author in authors %}
            {% if author.user.id == user.id %}
                <a href="{% url 'edit_issue' issue.zine.id issue.number %}">
                    <i class="material-icons md-48">edit</i>
                    <div class="label">Edit</div>
                </a>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block body %}
    {% load app_filters %}

    <h1>{{ issue.titleLink|safe }}</h1>

    <div class="row flex" id="details">
        <div class="floe">
            <i class="material-icons md-30">account_circle</i>
            {{ issue.zine.authorsLink|safe }}
        </div>
        <div class="floe">
            <i class="material-icons md-30">event</i>
            {{ issue.pub_date }}
        </div>
        {% if issue.guestAuthorsLink|length > 0 or issue.ext_guest_authors|length > 0 %}
            <div class="floe">
                <i class="material-icons md-30">group</i>
                {{ issue.guestAuthorsLink|safe }}{% if issue.guestAuthorsLink|length > 0 and issue.ext_guest_authors|length > 0 %}, {% endif %} {{ issue.ext_guest_authors }}
            </div>
        {% endif %}
    </div>
    <div class="desc">
        <p>{{ issue.desc|safe }}</p>
    </div>
    <hr/>
    {% if issue.cover %}
        <div class="page large-4 medium-6 small-12 columns">
            <a data-lightbox="pages" href="{{ issue.cover.url }}">
                {% if issue.thumb %}
                    <img src="{{ issue.thumb.url }}"/>
                {% else %}
                    <img src="{{ issue.cover.url }}"/>
                {% endif %}
            </a>
        </div>
    {% endif %}
    {% if pages %}
        {% for page in pages %}
            <div class="page large-4 medium-6 small-12 columns">
                <a data-lightbox="pages" data-title="{{ page.subtitles|safe }}" href="{{ page.content.url }}">
                {% if page.thumb %}
                    <img src="{{ page.thumb.url }}"/>
                {% else %}
                    <img src="{{ page.cover.url }}"/>
                {% endif %}
                </a>
            </div>
        {% endfor %}
    {% else %}
        <p>This issue has no pages.</p> 
    {% endif %}
{% endblock %}