{% extends 'zines/base.html' %}

{% block title %}
    {{ profile }}
{% endblock %}

{% block editor %}

    {% load app_filters %}

    {% if user.is_authenticated and user.id == profile.user.id %}
        <a href="{% url 'edit_profile' profile.id %}">
            <i class="material-icons md-48">edit</i>
            <div class="label">Edit</div>
        </a>
    {% endif %}
{% endblock %}

{% block body %}
    {% load static %}
    <h1>{{ profile }}</h1>

    <div class="row flex" id="details">
        <div class="floe">
            <i class="material-icons md-30">date_range</i>
            member since {{ profile.member_since|date:'b j, Y' }}
        </div>
        {% if profile.location %}
            <div class="floe">
                <i class="material-icons md-30">place</i>
                {{ profile.location }}
            </div>
        {% endif %}
        {% if profile.website %}
            <div class="floe">
                <i class="material-icons md-30">insert_link</i>
                <a target="blank" href="{{ profile.website }}">{{ profile.website }}</a>
            </div>
        {% endif %}
        {% if profile.contact_email %}
            <div class="floe">
                <i class="material-icons md-30">mail_outline</i>
                <a target="blank" href="mailto:{{ profile.contact_email }}">{{ profile.contact_email }}</a>
            </div>
        {% endif %}
    </div>
    <div class="desc">
        <p>{{ profile.bio|safe }}</p>
    </div>
    {% if works %}
        <div class="zines">
            <h3>co-authored zines</h3>
            {% for work in works %}
                <div class="issue">
                    <div class="bg" style="background-image: url(/media/{{ work.zine.cover }})">
                        &nbsp;
                    </div>
                    <a href="{% url 'zine' work.zine.id %}">
                        <div class="title">
                            <span>{{ work.zine.title }}</span>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if guest_works %}
        <div class="block">
            <h3>featured on</h3>
            {% for issue in guest_works %}
                <div class="issue">
                    <div class="bg" style="background-image: url(/media/{% if issue.cover != '' %}{{ issue.cover }}{% else %}{{ issue.zine.cover }}{% endif %})">
                        &nbsp;
                    </div>
                    <a href="{% url 'issue' issue.zine.id issue.number %}">
                        <div class="title">
                            <span>{{ issue.displayTitle }}</span>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}