{% extends 'zines/base.html' %}

{% block title %}
    {{ profile }}
{% endblock %}

{% block editor %}

    {% load app_filters %}

    {% if user.is_authenticated and user.id == profile.user.id %}
        <a href="{% url 'edit_profile' profile.id %}">
            <i class="material-icons md-48">edit</i>
            <div class="label">Edit</div>
        </a>
    {% endif %}
{% endblock %}

{% block body %}
    {% load static %}
    <div class="row">
        {% if profile.pic %}
            <a data-lightbox="profile" href="{{ profile.pic.url }}"><img id="profile_pic" src="{{ profile.thumb.url }}"/></a>
        {% endif %}
        <h1 id="profile">{{ profile }}</h1>
        <div class="row flex" id="details">
            <div class="floe">
                <i class="material-icons md-30">date_range</i>
                member since {{ profile.member_since|date:'b j, Y' }}
            </div>
            {% if profile.location %}
                <div class="floe">
                    <i class="material-icons md-30">place</i>
                    {{ profile.location }}
                </div>
            {% endif %}
            {% if profile.website %}
                <div class="floe">
                    <i class="material-icons md-30">insert_link</i>
                    <a target="blank" href="{{ profile.website }}">{{ profile.website }}</a>
                </div>
            {% endif %}
            {% if profile.contact_email %}
                <div class="floe">
                    <i class="material-icons md-30">mail_outline</i>
                    <a target="blank" href="mailto:{{ profile.contact_email }}">{{ profile.contact_email }}</a>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="desc">
        <p>{{ profile.bio|safe }}</p>
    </div>
    {% if zines %}
        <div class="zines">
            <h3>co-authored zines</h3>
            {% for zine in zines %}
                {% include 'zines/snippets/banner.html' with entity=zine type='zine' %}
            {% endfor %}
        </div>
    {% endif %}
    {% if issues %}
        <div class="block">
            <h3>featured on</h3>
            {% for issue in issues %}
                {% include 'zines/snippets/banner.html' with entity=issue type='issue' %}
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}