{% extends 'zines/base.html' %}

{% block title %}
    {{ user }}
{% endblock %}

{% block body %}
    {% load static %}
    <h1>{{ user }}</h1>
    <date>member since {{ user.member_since|date:'b j, Y' }}</date>
    <hr/>
    {% if works %}
        <h3>co-authored zines</h3>
        <table id="works">
            {% for work in works %}
                <div class="issue">
                    <div class="bg" style="background-image: url({% static work.zine.cover %})">
                        &nbsp;
                    </div>
                    <a href="{% url 'zine' work.id %}">
                        <div class="title">
                            <span>{{ work.title }}</span>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </table>
    {% endif %}
    {% if guest_works %}
        <h3>featured on</h3>
        <table id="works">
            {% for issue in guest_works %}
                <div class="issue">
                    <div class="bg" style="background-image: url({% if issue.cover != '' %}{% static issue.cover %}{% else %}{{ issue.zine.cover }}{% endif %})">
                        &nbsp;
                    </div>
                    <a href="{% url 'issue' issue.zine.id issue.number %}">
                        <div class="title">
                            <span>{{ issue.displayTitle }}</span>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </table>
    {% endif %}

{% endblock %}