{% extends 'zines/base.html' %}

{% block title %}
    {{ zine }}
{% endblock %}

{% block editor %}
    {% if user.is_authenticated %}
        <a href="">
            <i class="material-icons md-48">add_to_photos</i>
            <div class="label">Subscribe</div>
        </a>
        {% for author in authors %}
            {% if author.user.id == user.id %}
                <a href="{% url 'edit_zine' zine.id %}">
                    <i class="material-icons md-48">edit</i>
                    <div class="label">Edit</div>
                </a>
            {% endif %}
        {% endfor %}
    {% else %}
        <a href="{% url 'login_view' %}">
            <i class="material-icons md-48">add_to_photos</i>
            <div class="label">Subscribe</div>
        </a>
    {% endif %}
{% endblock %}

{% block body %}
    <h1>
        {{ zine.title }}
        <span class="tagline">
            {{ zine.tagline }}
        </span>
    </h1>
    <div id="details">
        <div class="row flex">
            <div class="floe">
                <i class="material-icons md-30">account_circle</i> {{ zine.authorsLink|safe }}
            </div>
            <div class="floe">
                <i class="material-icons md-30">date_range</i> {{ zine.start_date|date:'b j, Y' }} – {% if zine.end_date != null %}{{ zine.end_date|date:'b j, Y' }}{% else %}present{% endif %}
            </div>
            {% if zine.website %}
                <div class="floe">
                    <i class="material-icons md-30">link</i>
                    <a target="blank" href="{{ zine.website }}">{{ zine.website }}</a>
                </div>
            {% endif %}
            {% if zine.locale %}
                <div class="floe">
                    <i class="material-icons md-30">place</i> {{ zine.locale }}
                </div>
            {% endif %}
            <div class="floe">
                <i class="material-icons md-30">language</i> {{ zine.primary_language }}
            </div>
        </div>
        <div class="row flex">
            {% if tags %}
                <div class="floe">
                    <i class="material-icons md-30">local_offer</i>
                    {% for tag in tags %}
                        <a class="tag" href="{% url 'tag' tag.slug %}">{{ tag.title }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="desc">
        {% if zine.cover != '' %}
            <div class="cover large-4 medium-6 small-12 columns">
                <a data-lightbox="cover" href="{{ zine.cover.url }}"><img src="{{ zine.cover.url }}"/></a>
            </div>
        {% endif %}
        <p>{{ zine.desc|safe }}</p>
    </div>
    <hr class="spacer"/>
    {% if issues %}
        <div class="block">
            {% for issue in issues %}
                {% include 'zines/snippets/banner.html' with entity=issue type='issue' %}
            {% endfor %}
        </div>
    {% else %}
        <p>This zine has not published any issues.</p> 
    {% endif %}
{% endblock %}